* {
    font-family: "Montserrat", sans-serif;
}

[data-theme="dark"] {
    background-color: black;

    p,
    a,
    h2,
    label,
    h4 {
        color: white;
    }

    .post-items {
        background-color: gray;
    }
}

.post-items {
    text-align: left;
    border-bottom: 2px solid rgb(183, 183, 183);
    margin: 5px 0;
    background: #f7f7f7;
    padding: 20px;
}

.main-title {
    text-align: center;
    margin-top: 40px;
}

.text-red {
    color: #b71c1c;
    margin: 0.5rem 0;
}


.student-card {
    background: #f7f7f7;
    border-bottom: 2px solid gray;
    margin-bottom: 5px;
    padding: 10px;
}

.student-card p {
    margin-bottom: 3px;
}


.student-view {
    background: #f7f7f7;
    padding: 25px;
    margin: 20px;
}


.student-view p {
    margin-bottom: 2px;
    margin-top: 5px;
}

.student-view h2 {
    margin-bottom: 2px;
    margin-top: 5px;
}

.pd-modal {
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    &__content {
        background: white;
        width: 450px;
        border-radius: 15px;
        padding: 20px;

        button {
            margin: 0 5px;
        }
    }
}

.pd-user-info {
    padding: 15px;
    background: rgb(230, 230, 230);
    margin: 10px 0;
}

nav {
    display: flex;
    margin-bottom: 3rem;
    background: #ededed;
    padding: 10px;
    border-radius: 8px;

    a {
        margin: 5px;
    }
}

.pd-book-item {
    padding: 15px;
    background: rgb(230, 230, 230);
    margin: 10px 0;
    border-radius: 7px;
}

.df-title-w-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mr-1{
    margin-right: 1rem !important;
}

.pd-nav-logout{
    margin-left: auto !important;
}