.post-items{
    text-align: left;
    border-bottom: 2px solid rgb(183, 183, 183);
    margin:5px 0;
    background: #f7f7f7;
    padding: 20px;
}

.main-title{
    text-align: center;
    margin-top: 40px;
}
